
nav{
    display: flex;
    background-color: black;
    height:50px ;
    justify-content: space-between;
    /* //align align-items: ; */
}
#one{
    color:orangered;
    height: 40px;
    padding-top:10px ;
}
#two{
    margin:10px ;
}
#two a{
    color: aliceblue;
   margin:20px ;
}
button{
    background-color: orangered;
   margin: 10px;
   font-size: 1rem;
   font-weight:bolder ;
}
@media screen and (max-width:500px) {
    nav{
display: flex;
flex-direction: column;
height: auto;
justify-content: center;
align-items: center;
    }
    #two a{display: flex;
        flex-direction: column;

    }
    
}